@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Playfair+Display&family=Roboto+Condensed:wght@300&display=swap');

header {
    font-family: 'Agbalumo', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background: #588157; */
    /* background: #87995B; */
    background: #414F30;
    color: white;
    padding: 1rem;
}

.background {
    background-color: #F5F5F5;
}

#taskbox {
    font-family: 'Roboto Condensed';
    text-align: center;
    margin-top: 2rem;
}

#task-input {
    background-color: #F5F5F5;
    border-style: none;
    border-radius: 12px;
}

/* #task-input:hover {
    background-color: #F5F5F5;
    border-style: solid;
    border-color: #F0C15B;
    border-radius: 12px;
} */

.task-button {
    background-color: inherit;
    border-style: solid;
    color: #F0C15B;;
    border-color: #F0C15B;
    border-radius: 15px;
}

.task-button:hover {
    background-color: #414F30;
    border-style: solid;
    color: #F5F5F5;;
    border-color: #F5F5F5;
    border-radius: 15px;
}

.stats {
    list-style: none;
    text-align: center;
}

.tasks {
    margin: 2rem;
    border-style: solid;
    border-radius: 15px;
    border-color: #C5C7C6;
    padding: 1rem;
}

.task-item {
    list-style: none;
}

.task-item > input {
    text-align: left;
}

.task-name {
    text-align: right;
}

.archive-task {
    text-align: center;
}

.archive-button {
    border: none;
    background-color: inherit;
}